$transport-for-london-blue: #113b92;

$overground-orange: #e86a10;

$bakerloo-brown: #894e24;

$corporate-red: #dc241f;
$central-red: $corporate-red;
$london-buses-red: $central-red;

$corporate-yellow: #ffce00;
$circle-yellow: $corporate-yellow;
$legible-london-yellow: $corporate-yellow;

$corporate-green: #007229;
$district-green: $corporate-green;

$hammersmith-and-city-pink: #d799af;

$metropolitan-magenta: #751056;

$corporate-white: #ffffff;

$corporate-grey: #868f98;
$jubilee-grey: $corporate-grey;

$corporate-dark-grey: #414b56;

$corporate-black: #000000;
$northern-black: $corporate-black;

$corporate-blue: #0019a8;
$piccadilly-blue: $corporate-blue;
$london-underground-blue: $piccadilly-blue;
$tfl-rail-blue: $piccadilly-blue;
$oyster-dark-blue: $corporate-blue;
$oyster-light-blue: #009dd9;

$victoria-blue: #00a0e2;
$river-services-blue: $victoria-blue;

$waterloo-and-city-turquoise: #76d0bd;

$dlr-turquoise: #00afad;

$tram-green: #00bd19;

$transport-museum-pink: #d10075;

$visitor-centre-pink: #dc006b;

$emirates-airline-red: #dd042b;

$santander-cycles-red: #e52312;

$elizabeth-purple: #9364cc;

$dial-a-ride-purple: #b727bf;

$taxi-blue: #8480d7;

$london-coaches-yellow: #f1ab00;

$safety-blue: #0067c1;

$congestion-charge-red: #d21034;

$low-emission-zone-green: #69971f;
$cycle-superhighway-pink: #dc0963;
$legible-london-blue: #061a30;

$primary-blue: #1A5A92;
$primary-grey: #2D3039;
$primary-modified-blue: #113B92;
$primary-turquoise: #66CCCC;
$primary-white: #FFFFFF;

$accent-light-grey1: #F7F7F7;
$accent-light-grey2: #EEEEEE;
$accent-mid-grey: #CCCCCC;
$accent-light-blue : #EFF6FD;
$accent-mid-blue: #CCDDE8;
$accent-green: #E7F6DC;
$accent-warning-yellow: #FAF5E1;
$accent-error-red: #FFEFEF;

/* COV IMS Colours */

$ims-white: #ffffff;
$ims-black: #000000;
$ims-coral: #e8685d;
$ims-blueberry: #353a8c;
$ims-seafoam-blue: #66ccc0;
$ims-muted-green: #55aa69;
$ims-pale-gold: #fecf6b;
$ims-very-light-pink: #f1f1f1;
$ims-charcoal-grey: #2d3039;
$ims-midnight: #03071c;
$ims-light-burgundy: #a44279;
$ims-battleship-grey: #637282;
$ims-blue-grey: #86909e;
$ims-light-blue-grey: #c1c8d2;
$ims-pale-blue: #e1e4e8;
$ims-ice-blue: #f2f4f5;
$ims-pale-grey: #f7f9fa;

$ims-panel-grey: $ims-pale-blue;

