@font-face {
  font-family: 'Johnston100W03-Medium';
  src: url('../fonts/johnston100/Medium/Johnston100W03-Medium.eot?#iefix');
  src: url('../fonts/johnston100/Medium/Johnston100W03-Medium.eot?#iefix') format('eot'),
  url('../fonts/johnston100/Medium/Johnston100W03-Medium.woff2') format('woff2'),
  url('../fonts/johnston100/Medium/Johnston100W03-Medium.woff') format('woff'),
  url('../fonts/johnston100/Medium/Johnston100W03-Medium.ttf') format('truetype'),
  url('../fonts/johnston100/Medium/Johnston100W03-Medium.svg#f2c7a047-47a8-4198-bc26-e121630c6582')
  format('svg');
}
@font-face {
  font-family: 'Johnston100W03-Thin';
  src: url('../fonts/johnston100/Thin/Johnston100W03-Thin.eot?#iefix');
  src: url('../fonts/johnston100/Thin/Johnston100W03-Thin.eot?#iefix') format('eot'),
  url('../fonts/johnston100/Thin/Johnston100W03-Thin.woff2') format('woff2'),
  url('../fonts/johnston100/Thin/Johnston100W03-Thin.woff') format('woff'),
  url('../fonts/johnston100/Thin/Johnston100W03-Thin.ttf') format('truetype'),
  url('../fonts/johnston100/Thin/Johnston100W03-Thin.svg#97f5a5f4-a86e-4574-92a7-be90680c7f78')
  format('svg');
}
@font-face {
  font-family: 'Johnston100W03-Light';
  src: url('../fonts/johnston100/Light/Johnston100W03-Light.eot?#iefix');
  src: url('../fonts/johnston100/Light/Johnston100W03-Light.eot?#iefix') format('eot'),
  url('../fonts/johnston100/Light/Johnston100W03-Light.woff2') format('woff2'),
  url('../fonts/johnston100/Light/Johnston100W03-Light.woff') format('woff'),
  url('../fonts/johnston100/Light/Johnston100W03-Light.ttf') format('truetype'),
  url('../fonts/johnston100/Light/Johnston100W03-Light.svg#453553e8-40f5-4385-88dd-e161c39f67a6')
  format('svg');
}
@font-face {
  font-family: 'Johnston100W03-Hairline';
  src: url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.eot?#iefix');
  src: url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.eot?#iefix') format('eot'),
  url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.woff2') format('woff2'),
  url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.woff') format('woff'),
  url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.ttf') format('truetype'),
  url('../fonts/johnston100/Hairline/Johnston100W03-Hairline.svg#4c655e41-9ccc-4463-b531-4b6ea7c26a4f')
  format('svg');
}

@font-face {
  font-family: 'Johnston100W03-Regular';
  src: url('../fonts/johnston100/Regular/Johnston100W03-Regular.eot?#iefix');
  src: url('../fonts/johnston100/Regular/Johnston100W03-Regular.eot?#iefix') format('eot'),
  url('../fonts/johnston100/Regular/Johnston100W03-Regular.woff2') format('woff2'),
  url('../fonts/johnston100/Regular/Johnston100W03-Regular.woff') format('woff'),
  url('../fonts/johnston100/Regular/Johnston100W03-Regular.ttf') format('truetype'),
  url('../fonts/johnston100/Regular/Johnston100W03-Regular.svg#d9380b87-961e-4bec-ae2c-09e17c56a3f6')
  format('svg');
}

.johnston100W03-thin {
  font-family: 'Johnston100W03-Thin';
}
