@import 'src/assets/styles/colors';

.sidenav {
    z-index: 100;
    width: 109px;
    height: 100vh;
    background: $ims-blueberry;
    box-shadow: 4px 0 10px 0 rgba(53, 58, 140, 0.3);
    &-logo {
        background: white;
        color: $ims-blueberry;

        & img {
            width: 70px;
            padding: 15px;
        }
    }

    &-button {
        box-sizing: border-box;
        width: 100%;
        min-height: 109px;
        padding: 25px;
        color: $ims-white;
        fill: $ims-white;
        stroke: $ims-white;
        text-decoration: none;
        text-align: center;
        display: block;
    }

    .selected {
        background-color: $ims-seafoam-blue;
    }
}





.areaName {
    display: inline-block;
    width: 150px;
}

.white {
    background: $corporate-white;
}
