@import '../../assets/styles/_colors';

.alerts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  h1 {
    background: $ims-white;
    font-family: Johnston100, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight);
    height: 40px;
    padding: 25px;
    margin: 0;
    text-align: left;
  }

  h3 {
    text-align: left;
    color: $ims-blueberry;
  }

  &-sorting {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight);

    select {
      width: 120px;
      height: 45px;
      border-radius: 3px;
      border: solid 1px $ims-blueberry;
      background-color: $ims-white;
    }
  }

  &-areas {
    width: 131px;
    float: right;
    font-family: Johnston100, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--battleship-grey);
  }
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter {
  z-index: 20;
  width: 135px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(53, 58, 140, 0.3);
  border: solid 1px $ims-charcoal-grey;
  min-height: 50px;
  color: $ims-blueberry;
  background: $ims-white;
  margin: 2px;
  text-align: left;

  &.selected {
    background: $ims-seafoam-blue;
    color: $ims-white;
  }
}
