@import '../../assets/styles/_colors';

.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 8px solid $ims-white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(53, 58, 140, 0.3);
  padding: 5px 2px 7px 2px;

  .oval {
    box-sizing: border-box;
    padding: 10% 2px;
    margin: 0 16px;
    width: 30px;
    height: 30px;
    border: 1px solid $ims-blueberry;
    border-radius: 50%;
  }
  &-area {
    color: $ims-blueberry;
  }

  &-type {
    min-width: 30px;
    margin-top: 10px;
  }

  &-info {
    flex-grow: 1;
    min-width: 150px;
    text-align: left;
  }

  &-category {
    margin: 2px 0;
    color: $ims-midnight
  }
  &-location {
    height: 14px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--battleship-grey);
  }

  &-time {
    text-align:right;
    height: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight)
  }
  &--new {
    border-left-color: $ims-seafoam-blue;
  }
}
