@import '../../assets/styles/_colors';

.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 8px solid $ims-white;

  &-type {
    min-width: 30px;
    margin-top: 10px;
  }
  &-info {
    min-width: 150px;
    h4 {
      margin: 2px 0;
    }
  }

  &-location {
    height: 14px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--battleship-grey);
  }

  &-time {
    text-align:right;
    height: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight)
  }
  &--new {
    border-left-color: $ims-seafoam-blue;
  }
}
