@import '../../assets/styles/_colors';

.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 8px solid $ims-white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(53, 58, 140, 0.3);
  padding: 5px 5px 7px 5px;
  list-style-type: none;

  .oval {
    box-sizing: border-box;
    padding: 2px 2px;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: 1px solid $ims-blueberry;
    border-radius: 50%;
  }
  &-area {
    color: $ims-blueberry;
  }

  &-type {
    min-width: 30px;
    margin-top: 10px;
  }

  &-info {
    flex-grow: 1;
    min-width: 150px;
    text-align: left;
  }

  &-category {
    margin: 2px 0;
    color: $ims-midnight
  }
  &-location {
    height: 14px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--battleship-grey);
  }

  &-time {
    text-align:right;
    height: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight)
  }
  &--new {
    border-left-color: $ims-seafoam-blue;
  }

  &--open {
    display: block;
    text-align: left;
    padding: 5px 20px;
    details {
      width: 100%;
      border-radius: 3px;
      box-shadow: 2px 2px 4px 0 rgba(53, 58, 140, 0.3);
      border: solid 1px var(--blueberry);
      background-color: var(--white);
    }
    summary {
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--blueberry);
      height: 35px;
    }
  }

  &-close {
    float: right;
  }
}

@mixin boxy {
  &-list {
    padding: 15px;
    list-style-type: none;
  }
  padding: 10px;
  min-height: 90px;
  border-radius: 2px;
  margin-top: 5px;
  background-color: $ims-ice-blue;
  color: $ims-midnight;
  line-height: 20px;
  font-size: 14px;

  & div {
    margin-top: 5px;
  }

  &-id {
    font-weight: bold;
    color: $ims-charcoal-grey;
  }
}


.cctv {
  @include boxy;
  border-left: 5px solid $ims-muted-green;
}

.incident {
  @include boxy;
  border-left: 5px solid $ims-blueberry;

}
